<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/post">
        <input name="name" type="text" />
        <button>submit</button>
    </form>
    <form method="post" action="/postFile">
        <input name="name" type="file" />
        <button>submit</button>
    </form>
</body>
</html>